/*update*/
body {
    color: black;
    background-color: orange;
    font-size:1.3em;
    font-family:comic, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    
}

@media  (max-width: 700px)

{
    body{
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 100%;
        

        
    }

    body#citation{
        padding-bottom: 10%;
    }
    div.flexible{

        flex-direction: column;
    }
    div.nav{
        padding-left: 1%;
        padding-right: 1%;
        
    
    }
    section{
        margin-left: 1%;
        margin-right: 1%;
    }

    div#bibliography{
        width: 200px;
        padding: 2%;
        text-align: left;
    }

    section{
        margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    } 
   

   
}

@media all and (orientation:portrait)
{
    div.flexible{

        flex-direction: column;}

        body{
            margin-left: 0px;
            margin-right: 0px;
            padding-bottom: 100%;
            
    
            
        }


        ul{
            width: 200px;
        }
}

div.flexible{
    display: flex;
}

p {

    padding: 5%;
}

p#specialp{
    font-size: 1.5em;
    font-family: monospace,sans-serif;
}


ul, li{
    
    margin: 1%;
    
}

div.nav{
    border-style: groove;
    background-color: skyblue;
    font-style: normal;
    font-family: tahoma, sans-serif;
    margin-top: 2.5%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10%;
    padding-left: 10%;
    
}
input{
    margin: 5%;

}
section{
    background-color: seashell;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
h2, h3{
    font-family: tahoma, sans-serif;
    font-style: italic;
    background-color: seashell; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 2.5%;
}
h2 {
    color: blue;
    font-weight: 100;
}

h3{
    color: navy;
    font-style:italic;
}

strong{
    background-color: white;

}

a:link{
    color: black;
}

a:visited{
    color:midnightblue;
}

/*a:hover{
    background-color: seashell;
}
    Didn't like it when changed to flexbox navigation
*/

a:active{
    color: navy;
}

li strong{
    font-weight: bolder;
    font-style: italic;
}

img#porter{
    width: 40%;
    float: left;
    margin-right: 5%;
}
/* img#porter:hover{
    width:45%; 

}
Experimented with this, but did not like it
*/
h2#papertitle{
    align-content: center;
}

img#endofsemester{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    width: 40%;
}

p.paper{
    font-size: 1.25em;
    font-weight: lighter;
    font-family: Tahoma, sans-serif;
}